doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title KBS iQuote
    link(rel='stylesheet', href='./css/app.css')
  body

    #title1
    #buildings1
    #iquote1

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/json-to-tableNew.js')
    script(src="http://fb.me/react-0.10.0.js")
    script(src="http://fb.me/JSXTransformer-0.10.0.js")
    script(type='text/jsx', src='./js/components/iquote.js')
    script(type='text/jsx', src='./js/components/buildings.js')
    script(type='text/jsx', src='./js/components/title.js')
    script(type='text/jsx', src='./js/components/master.js')
    script(src='./js/source/main.js')
